<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Peliculas</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Buscar" [debounce]="700" [value]="textoBuscar"
                   (ionChange)="buscar( $event )">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid *ngIf="buscando">
  <ion-row>
    <ion-col class="ion-text-center ion-align-items-center">
      <ion-spinner name="crescent"></ion-spinner>
    </ion-col>
  </ion-row>
</ion-grid>

  <ion-list *ngIf="peliculas.length === 0">
    <ion-list-header>
      <ion-label>Ideas</ion-label>
    </ion-list-header>
    <ion-item *ngFor="let idea of ideas" (click)="textoBuscar=idea">
      <ion-label color="primary">{{ idea }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let peli of peliculas">
        <ion-card (click)="detalle(peli.id)">
          <img [src]="peli.poster_path | imagen" *ngIf="peli.poster_path">
          <ion-list-header>
            <ion-card-subtitle>{{peli.release_date}}</ion-card-subtitle>
          </ion-list-header>
          <ion-card-content>
            <h2>{{peli.title}}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
