<ion-header mode="ios">

  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="openDatePicker()">Fecha</ion-button>
    </ion-buttons>
    <ion-title>Peliculas Nuevas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-modal [isOpen]="isDatePickerOpen" (didDismiss)="isDatePickerOpen = false">
    <ng-template>
      <ion-content>
        <ion-datetime locale="es-ES" presentation="date"
          (ionChange)="dateChanged($event)">
        </ion-datetime>
        <ion-button (click)="closeDatePicker()">Cerrar</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

  <swiper-container [slidesPerView]="1.3" [freeMode]="true">
    <swiper-slide *ngFor="let pelicula of PeliculasMBD">
      <ion-card>
        <img [src]="pelicula.backdrop_path | imagen">
      </ion-card>
    </swiper-slide>
  </swiper-container>

</ion-content>
